body {
    background-color: rgba(54,23,200,45%);
    display: flex;
    justify-content: center;
}

.navar {
    display: flex;
    margin-top: 10px;
    border-radius: 15px;
    padding-top: 15px;
    flex-direction: column;
    grid-gap: 15px;
    width: 300px;
    height: 550px;
    background-color: rgba(0,0,0,45%);
}

.pad {
    display: grid;
    grid-template-rows: repeat(4, 53px);
    grid-template-columns: repeat(4, 53px);
}

.button-calculator {
    margin: 1px;
    width: 50px;
    height: 50px;
    color: black;
    box-shadow: 5px red;
    background-color:aquamarine;
}

.button-calculator:hover {
    color: white;
}

.button-calculator:active {
    box-shadow: none;
    
}

.screen {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-color: rgba(54,23,200,45%);
    cursor: default
}

.number, .number2 {
    max-width: 200px;
    color: rgba(30, 236, 116, 0.801);
    margin-left: 10px;
}

.number2 {
    margin-top: 10px;
    margin-left: 5px;
    
}

.list {
    text-align: center;
    margin-top: 10px;
    padding: 15px;
    width: 280px;
    height: 100px;
    border-radius: 5px;
    background-color:rgba(30, 236, 116, 50%);
    color: white;
    display: flex;
    justify-content: center;
    transition: 1s;
    cursor: pointer
}

.list:hover {
    border-radius: 30px;
    background-color: aquamarine;
}

.btn-danger {
    margin-left: 15px;
}